# root links
/compile_commands.json
/trajectory.xyz
/molecule.xyz
/movie.xyz

# profiling
/profile.txt
/gmon.out

# subfolders
__pycache__/
.cache/
_site/
build/
test/
bin/

# exts
*.clean
*.lock
*.dat
*.eps
*.gpl
*.log
*.mat
*.out
*.png
*.so

# cores
core.*

# specific
.orca*
