# links
/compile_commands.json
/molecule.xyz
/hazel

# profiling
/profile.txt
/gmon.out

# subfolders
__pycache__/
Testing/
.cache/
_site/
build/
bin/

# exts
*.lock
*.dat
*.log
*.mat
*.out
*.so

# cores
core.*
